.comment{
  display: flex;
  gap: 10px;

  img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .commentAuthor{
    display: flex;
    flex-direction: column;
    gap: 2px;

    .commentAuthorName{
      font-size: 14px;

      .commentDate{
        color: #7c7b7b;
      }
    }

    .commentText{
      line-height: 25px;
      word-break: break-word;
    }
  }
}