.postList {
  width: 55%;
  margin-left: calc(17%);
  @media (max-width: 415px){
    width: 100%;
    margin: 0;
  }
  @media (max-width: 1100px) {
    width: auto;
  }
  .noPosts {
    font-size: 25px;
    color: gray;
    text-align: center;
  }
  .pagination {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;

    .paginationBtn {
      padding: 5px 10px;
      color: white;
      font-weight: 600;
      border-radius: 5px;
      background-color: #7451f8;
      border: none;
      cursor: pointer;

      &:disabled {
        background-color: rgba(116, 81, 248, 0.62);
        cursor: default;
      }
    }
  }
}

.listLoader {
  position: absolute;
  top: 50%;
}
