.login{
  @media (max-width: 415px) {
    width: 300px;
  }
  width: 500px;
  background-color: white;
  //margin: 30px auto;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 211, 0.51);
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .registerError{
    width: max-content;
    margin: 10px auto 0 auto;
    font-size: 12px;
    text-align: center;
    color: rgba(255, 0, 0, 0.71);
    background-color: rgba(255, 0, 0, 0.18);
    padding: 2px 7px 2px 7px;
    border-radius: 5px;
  }

  .loginTitle{
    font-size: 30px;
    text-align: center;
  }

  .loginForm{
    margin-top: 10px;
  }
}