.postItem {
  width: 100%;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 20px;

  &:hover{
    border: 1px solid gray;
    cursor: pointer;
  }

  .imgSkeleton{
    width: inherit;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 250px;
    background-color: lightgrey;
    @media (max-width: 415px){
      height: 150px;
    }
  }

  .postImg{
    width: inherit;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 250px;
    object-fit: cover;
    @media (max-width: 415px){
      height: 150px;
    }
  }

  .previewInfo {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 20px 20px 0 20px;

    .previewInfoTop{
      display: flex;
      justify-content: space-between;
      .postUpdateActions{
        display: flex;
        align-items: start;
        gap: 10px;
        .postUpdate{
          display: flex;
          align-items: center;
          padding: 6px;
          border-radius: 5px;
          background-color: rgba(236, 232, 255, 0.63);
          color: #7451f8;

          &:hover{
            background-color: rgba(208, 201, 245, 0.63);
          }

          .postUpdateIcon{
            font-size: 20px;
          }
          span{
            font-size: 15px;
          }
        }
      }
      .authorInfo {
        display: flex;
        gap: 10px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .authorDescription {
          display: flex;
          flex-direction: column;

          .authorName {
            font-size: 14px;
            font-weight: 600;
          }

          .postDate {
            font-size: 13px;
            color: #7c7b7b;
          }
        }
      }
    }


    .postInfoTitle {
      word-break: break-word;
      @media (max-width: 415px){
        font-size: 13px;
      }
    }
  }

  .postReactions {
    padding: 0 20px 20px 20px;
    display: flex;
    margin-top: 10px;
    gap: 30px;
    font-size: 13px;
    color: gray;

    .postReactionsInfo {
      display: flex;
      align-items: center;
      gap: 5px;

      .postReactionsIcon {
        font-size: 17px;
        color: black;
      }
    }
  }
}
