.userPostList{
  padding: 0 80px 0 80px;
  @media (max-width: 415px) {
    padding: 0 10px 0 10px;
  }

  .userPostListItem{
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 15px 1px #D6D6D6;
    box-shadow: 5px 5px 15px 1px #D6D6D6;
  }
}