.createPost{
    padding-bottom: 20px;
    .postInner{
      margin-top: 20px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid lightgray;
      padding: 40px;
      @media (max-width: 415px){
        padding: 10px;
      }
      h2{
        text-align: center;
        margin-bottom: 20px;
      }

      .editor{
        .toolbarClassName{
          border-radius: 5px;
          border: 1px solid lightgray;
        }

        .editorClassName{
          border-radius: 5px;
          border: 1px solid lightgray;
          padding: 0 10px 0 10px;
          resize: block;
          font-size: 15px;
        }
      }

      .createBottom{
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;


        .alert{
          background-color: rgba(0, 128, 0, 0.11);
          color: green;
          padding: 7px;
          font-size: 13px;
          border-radius: 5px;
          transition: 0.3s;
          @media (max-width: 415px) {

          }

          &.danger{
            background-color: rgba(255, 0, 0, 0.1);
            color: red;
          }
        }
        .createButton{
          width: 12%;
          @media (max-width: 415px) {
            width: 100%;
          }
        }
      }

    }
}

