.commentForm{
  padding-right: 30px;
  .commentValidationError{
    font-size: 12px;
    background-color: rgba(255, 0, 0, 0.18);
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: rgba(255, 0, 0, 0.71);
    width: max-content;
  }
  .commentValidationSuccess{
    font-size: 12px;
    background-color: rgba(0, 128, 0, 0.24);
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: rgba(0, 128, 0, 0.77);
    width: max-content;
  }
  .commentFormArea{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    font-size: 15px;
    resize: none;

    &:disabled{
      background-color: inherit;
    }

    &:focus{
      outline: 1px solid #7451f8;
    }
  }
  .sendButton{
    width: 100px;
  }

}