.toolbarClassName{
  border-radius: 5px;
  border: 1px solid lightgray;
}

.editorClassName{
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 10px;
  resize: block;
  line-height: 4px;
  font-size: 15px;
}