.wrapper{
    width:100%;
    height:50px;   /* Height of the footer */
    background: #efefef;
    text-align: center;
    position: relative;

    .content{
        font-weight: 500;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

}
