.fallback{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .fallbackButton{
    margin: 0 auto;
    width: 30%;
  }

  .fallbackMessage{
    background-color: rgba(255, 0, 0, 0.22);
    color: rgba(255, 0, 0, 0.63);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    p{
      &:first-child{
        font-weight: 600;
        font-size: 20px;
      }
      &:last-child{
        font-size: 15px;
        margin-top: 10px;
      }
    }
  }
}