.sidebar {
  flex-basis: 20%;
  margin-top: 20px;
  margin-right: 20px;

  .menu {
    h4 {
      margin-bottom: 15px;
    }

    li {
      margin-bottom: 10px;
      display: flex;
      gap: 5px;
      align-items: center;
      cursor: pointer;
      padding: 5px 0 5px 5px;
      border-radius: 7px;
      transition: 0.1s;

      &:hover {
        color: #7451f8;
      }
    }
    .sidebarItem {
      background-color: rgba(116, 81, 248, 0.42);
    }

    &.bottom {
      margin-top: 50px;
    }
  }
}
