.latestList {
  height: fit-content;
  background-color: #fdfdfd;
  border-radius: 5px;
  width: 28%;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  border: 1px solid rgba(211, 211, 211, 0.51);
  @media (max-width: 415px){
    display: none;
  }
  .latestTitle {
    padding: 10px;
    color: gray;
  }

  .latestItems {
    ul {
      list-style: none;
      li {
        display: flex;
        align-items: center;
        gap: 2px;
        justify-content: space-between;
        border-top: 1px solid lightgray;
        padding: 10px 7px 10px 7px;
        .latestPostReactions {
          display: flex;
          gap: 5px;
          .latestPostReactionItem {
            display: flex;
            align-items: center;
            gap: 3px;

            span {
              color: black;
              font-size: 12px;
            }
            .latestPostReactionIconLike {
              font-size: 15px;
              color: rgb(255, 0, 0);
            }
          }
        }

        span {
          flex: 1;
          font-size: 12px;
          color: gray;
        }

        &:last-child {
          border-bottom: none;
        }

        .latestLink {
          text-decoration: none;
          color: inherit;
          flex: 4;

          h5 {
            word-break: break-word;
            cursor: pointer;
            font-size: 13px;

            &:hover {
              color: #7451f8;
            }
          }
        }
      }
    }
  }
}
