.latestList{
  flex-basis: 25%;
  height: fit-content;
  margin-top: 20px;
  background-color: #fdfdfd;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 211, 0.51);

  .latestTitle{
    padding: 10px;
    //border-bottom: 1px solid lightgray;
    color: gray;
  }


  .latestItems{

    ul{
      list-style: none;

      li{
        display: flex;
        align-items: center;
        gap: 2px;
        justify-content: space-between;
        border-top: 1px solid lightgray;
        padding: 10px 7px 10px 7px;

        span{
          flex: 1;
          font-size: 12px;
          color: gray;
        }

        &:last-child{
          border-bottom: none;
        }

        .latestLink{
          text-decoration: none;
          color: inherit;
          flex: 4;

          h5{
            word-break: break-word;
            cursor: pointer;
            font-size: 13px;
            transition: 0.2s;

            &:hover{
              color: #7451f8;
            }
          }


        }
      }
    }
  }
}