.navbar{
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 50px;

  .left{
    display: flex;
    align-items: center;
    gap: 10px;


    .icon{
      color: #7451f8;
      font-size: 40px;
    }

    //.leftLink{
    //  text-decoration: none;
    //  color: inherit;
    //}
  }

  .right{
    display: flex;
    gap: 10px;

    .loginButton{
      padding: 5px 10px;
      border: none;
      font-size: 17px;
      color: gray;
      border-radius: 5px;
      background: none;
      cursor: pointer;
      transition: 0.2s;

      &:hover{
        color: #7451f8;
        background-color: rgba(236, 232, 255, 0.63);
      }
    }

    .signupButton{
      border: 1px solid #7451f8;
      border-radius: 5px;
      background: none;
      padding: 5px 10px;
      font-size: 17px;
      color: #7451f8;
      font-weight: 500;
      cursor: pointer;
      transition: 0.2s;

      &:hover{
        background-color: #7451f8;
        color: white;
      }
    }
  }
}