.navbar {
  width: 100%;
  align-items: center;
  height: 50px;
  position: fixed;
  background-color: white;
  border-bottom: 1px solid lightgray;
  z-index: 1;

  .navbarInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    .left {
      display: flex;
      align-items: center;
      gap: 10px;

      .icon {
        color: #7451f8;
        font-size: 40px;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 10px;

      .gitHubIcon {
        display: flex;
        gap: 10px;
        margin-top: 5px;
      }

      .loginButton {
        padding: 5px 10px;
        border: none;
        font-size: 17px;
        color: gray;
        border-radius: 5px;
        background: none;
        cursor: pointer;

        &:hover {
          color: #7451f8;
          background-color: rgba(236, 232, 255, 0.63);
        }
      }

      .signupButton {
        border: 1px solid #7451f8;
        border-radius: 5px;
        background: none;
        padding: 5px 10px;
        font-size: 17px;
        color: #7451f8;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          background-color: #7451f8;
          color: white;
        }
      }
    }
  }
}
